In [28]:
# 1) Connect & preview
import sqlite3
import pandas as pd

# adjust to wherever your DB lives
options = sqlite3.connect("../sql-database/options_data.db")
stocks = sqlite3.connect("../sql-database/stocks_data.db")

# Pull a small sample
query = """
SELECT
  *
FROM stocks_enriched
WHERE quote_date = "2013-01-07 00:00:00"
LIMIT 20;
"""

df_sample = pd.read_sql_query(query, stocks)
df_sample

,symbol,open,high,low,close,volume,adjust_close,quote_date,is_sp500,volatility_1_week,volatility_2_weeks,volatility_1_month,volatility_3_months
0,A,42.600000,42.799999,42.380000,42.550001,3589500,None,2013-01-07 00:00:00,1,0.174841,0.174841,0.174841,0.174841
1,AA,9.279990,9.289991,9.099990,9.099990,7261600,None,2013-01-07 00:00:00,0,0.253130,0.253130,0.253130,0.253130
2,AACC,4.690000,4.700000,4.550000,4.600000,29900,None,2013-01-07 00:00:00,0,0.174320,0.174320,0.174320,0.174320
3,AAMRQ,0.880000,0.900000,0.870000,0.890000,3977100,None,2013-01-07 00:00:00,0,0.400523,0.400523,0.400523,0.400523
4,AAN,28.950001,29.129999,28.530001,28.740000,223500,None,2013-01-07 00:00:00,0,0.158935,0.158935,0.158935,0.158935
5,AAON,21.610013,21.800004,21.460005,21.510001,132000,None,2013-01-07 00:00:00,0,0.184286,0.184286,0.184286,0.184286
6,AAP,73.150002,73.800003,73.150002,73.370003,1054400,None,2013-01-07 00:00:00,0,0.130358,0.130358,0.130358,0.130358
7,AAPL,521.999985,529.300018,515.199989,523.900002,121039100,None,2013-01-07 00:00:00,1,0.148495,0.148495,0.148495,0.148495
8,AAT,28.049999,28.389999,28.020000,28.320000,50000,None,2013-01-07 00:00:00,0,0.187510,0.187510,0.187510,0.187510
9,AAU,3.040000,3.040000,2.900000,2.980000,261900,None,2013-01-07 00:00:00,0,0.199016,0.199016,0.199016,0.199016
10,AAV,3.230000,3.370000,3.200000,3.300000,257100,None,2013-01-07 00:00:00,0,0.150860,0.150860,0.150860,0.150860
11,AAWW,45.000000,45.240002,44.220001,44.840000,210100,None,2013-01-07 00:00:00,0,0.181491,0.181491,0.181491,0.181491
12,AAXJ,60.880001,60.880001,60.639999,60.810001,249900,None,2013-01-07 00:00:00,0,0.058020,0.058020,0.058020,0.058020
13,AB,18.750000,19.379999,18.620001,19.200001,780400,None,2013-01-07 00:00:00,0,0.252338,0.252338,0.252338,0.252338
14,ABAX,37.340000,37.990002,37.310001,37.480000,67100,None,2013-01-07 00:00:00,0,0.021128,0.021128,0.021128,0.021128
15,ABB,20.830000,20.990000,20.780001,20.990000,1362800,None,2013-01-07 00:00:00,0,0.157792,0.157792,0.157792,0.157792
16,ABBV,34.150002,35.450001,34.150002,34.459999,17897100,None,2013-01-07 00:00:00,1,0.117049,0.117049,0.117049,0.117049
17,ABC,43.700001,43.889999,43.500000,43.830002,1803600,None,2013-01-07 00:00:00,0,0.056989,0.056989,0.056989,0.056989
18,ABCB,12.860000,12.940000,12.810000,12.870000,26400,None,2013-01-07 00:00:00,0,0.084637,0.084637,0.084637,0.084637
19,ABCO,49.439999,50.200001,49.320000,50.000000,95200,None,2013-01-07 00:00:00,0,0.009721,0.009721,0.009721,0.009721

In [45]:
# Pull a small sample
query = """
SELECT
  *
FROM stocks_enriched
WHERE quote_date < "2013-01-21 00:00:00"
and quote_date > '2013-01-18 00:00:00'
LIMIT 20;
"""

df_sample = pd.read_sql_query(query, stocks)
df_sample

Empty DataFrame
Columns: [symbol, open, high, low, close, volume, adjust_close, quote_date, is_sp500, volatility_1_week, volatility_2_weeks, volatility_1_month, volatility_3_months]
Index: []

In [46]:
# Pull a small sample
query = """
SELECT
  quote_date,*
FROM enriched_options
where quote_date = "2013-01-07 00:00:00"
LIMIT 20;
"""

df_sample = pd.read_sql_query(query, options)
df_sample

,quote_date,contract,underlying,expiration,type,strike,style,bid,bid_size,ask,...,implied_volatility,num_days,black_scholes_model_price,is_sp500,stock_price_today,stock_price_contract_close,volatility_1_week,volatility_2_weeks,volatility_1_month,volatility_3_months
0,2013-01-07 00:00:00,A130119C00018000,A,2013-01-19 00:00:00,call,18.0,A,23.00,None,26.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
1,2013-01-07 00:00:00,A130119P00018000,A,2013-01-19 00:00:00,put,18.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
2,2013-01-07 00:00:00,A130119C00019000,A,2013-01-19 00:00:00,call,19.0,A,22.00,None,25.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
3,2013-01-07 00:00:00,A130119P00019000,A,2013-01-19 00:00:00,put,19.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
4,2013-01-07 00:00:00,A130119C00020000,A,2013-01-19 00:00:00,call,20.0,A,22.10,None,23.05,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
5,2013-01-07 00:00:00,A130119P00020000,A,2013-01-19 00:00:00,put,20.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
6,2013-01-07 00:00:00,A130119C00021000,A,2013-01-19 00:00:00,call,21.0,A,19.90,None,23.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
7,2013-01-07 00:00:00,A130119P00021000,A,2013-01-19 00:00:00,put,21.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
8,2013-01-07 00:00:00,A130119C00022000,A,2013-01-19 00:00:00,call,22.0,A,19.00,None,22.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
9,2013-01-07 00:00:00,A130119P00022000,A,2013-01-19 00:00:00,put,22.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
10,2013-01-07 00:00:00,A130119C00023000,A,2013-01-19 00:00:00,call,23.0,A,18.10,None,21.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
11,2013-01-07 00:00:00,A130119P00023000,A,2013-01-19 00:00:00,put,23.0,A,0.00,None,0.03,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
12,2013-01-07 00:00:00,A130119C00024000,A,2013-01-19 00:00:00,call,24.0,A,16.95,None,20.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
13,2013-01-07 00:00:00,A130119P00024000,A,2013-01-19 00:00:00,put,24.0,A,0.00,None,0.03,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
14,2013-01-07 00:00:00,A130119C00025000,A,2013-01-19 00:00:00,call,25.0,A,16.00,None,19.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
15,2013-01-07 00:00:00,A130119P00025000,A,2013-01-19 00:00:00,put,25.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
16,2013-01-07 00:00:00,A130119C00026000,A,2013-01-19 00:00:00,call,26.0,A,15.10,None,18.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
17,2013-01-07 00:00:00,A130119P00026000,A,2013-01-19 00:00:00,put,26.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
18,2013-01-07 00:00:00,A130119C00027000,A,2013-01-19 00:00:00,call,27.0,A,13.80,None,17.10,...,0.2852,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841
19,2013-01-07 00:00:00,A130119P00027000,A,2013-01-19 00:00:00,put,27.0,A,0.00,None,0.02,...,0.3433,12,None,None,42.550001,None,0.174841,0.174841,0.174841,0.174841

In [56]:
# Pull a small sample
query = """
SELECT
  quote_date,*
FROM enriched_options
where black_scholes_model_price  > 0
and underlying = 'AAPL'
and num_days < 30
LIMIT 200;
"""

df_sample = pd.read_sql_query(query, options)
df_sample

,quote_date,contract,underlying,expiration,type,strike,style,bid,bid_size,ask,...,implied_volatility,num_days,black_scholes_model_price,is_sp500,stock_price_today,stock_price_contract_close,volatility_1_week,volatility_2_weeks,volatility_1_month,volatility_3_months
0,2013-03-01 00:00:00,AAPL130308C00360000,AAPL,2013-03-08 00:00:00,call,360.0,A,69.10,None,71.95,...,0.3605,7,7.053900e+01,None,430.470013,431.720001,0.208614,0.19988,0.25532,0.426489
1,2013-03-01 00:00:00,AAPL130308P00360000,AAPL,2013-03-08 00:00:00,put,360.0,A,0.05,None,0.07,...,0.5463,7,5.038377e-10,None,430.470013,431.720001,0.208614,0.19988,0.25532,0.426489
2,2013-03-01 00:00:00,AAPL130308C00365000,AAPL,2013-03-08 00:00:00,call,365.0,A,64.90,None,66.95,...,0.3605,7,6.553996e+01,None,430.470013,431.720001,0.208614,0.19988,0.25532,0.426489
3,2013-03-01 00:00:00,AAPL130308P00365000,AAPL,2013-03-08 00:00:00,put,365.0,A,0.05,None,0.09,...,0.5165,7,1.013465e-08,None,430.470013,431.720001,0.208614,0.19988,0.25532,0.426489
4,2013-03-01 00:00:00,AAPL130308C00370000,AAPL,2013-03-08 00:00:00,call,370.0,A,59.95,None,61.65,...,0.3605,7,6.054092e+01,None,430.470013,431.720001,0.208614,0.19988,0.25532,0.426489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2013-03-01 00:00:00,AAPL130316P00545000,AAPL,2013-03-16 00:00:00,put,545.0,A,113.35,None,115.50,...,0.3227,15,1.143062e+02,None,430.470013,NaN,0.208614,0.19988,0.25532,0.426489
196,2013-03-01 00:00:00,AAPL130316C00550000,AAPL,2013-03-16 00:00:00,call,550.0,A,0.05,None,0.10,...,0.4347,15,5.586898e-06,None,430.470013,NaN,0.208614,0.19988,0.25532,0.426489
197,2013-03-01 00:00:00,AAPL130316P00550000,AAPL,2013-03-16 00:00:00,put,550.0,A,118.30,None,120.60,...,0.3227,15,1.193042e+02,None,430.470013,NaN,0.208614,0.19988,0.25532,0.426489
198,2013-03-01 00:00:00,AAPL130316C00555000,AAPL,2013-03-16 00:00:00,call,555.0,A,0.07,None,0.14,...,0.4347,15,2.264641e-06,None,430.470013,NaN,0.208614,0.19988,0.25532,0.426489
199,2013-03-01 00:00:00,AAPL130316P00555000,AAPL,2013-03-16 00:00:00,put,555.0,A,123.15,None,126.50,...,0.3227,15,1.243021e+02,None,430.470013,NaN,0.208614,0.19988,0.25532,0.426489

In [51]:
import sqlite3

conn = sqlite3.connect("../sql-database/options_data.db")

# Total rows in enriched_options
total = conn.execute("SELECT COUNT(*) FROM enriched_options;").fetchone()[0]

# Rows still missing a BS price
pending = conn.execute("""
    SELECT COUNT(*) 
    FROM enriched_options 
    WHERE black_scholes_model_price IS NULL
""").fetchone()[0]

conn.close()

print(f"Total rows: {total:,}")
print(f"Rows pending BS price: {pending:,}")

Total rows: 64,115,226
Rows pending BS price: 64,115,226

In [60]:
import pandas as pd

conn = sqlite3.connect("../sql-database/options_data.db")

# assume df has columns: 'ask', 'black_scholes_model_price'
df = pd.read_sql_query("SELECT contract,underlying, ask, black_scholes_model_price, stock_price_today, stock_price_contract_close FROM enriched_options where quote_date < '2013-02-01 00:00:00' limit 100000", conn)

# 1) Raw and pct deviation
df["diff"]     = df["ask"] - df["black_scholes_model_price"]
df["pct_diff"] = df["diff"] / df["black_scholes_model_price"] * 100

# 2) Flags
TH = 5.0  # 5% threshold
df["good_bid"]    = df["pct_diff"] <= -TH
df["overpriced"]  = df["pct_diff"] >= TH

# 3) Inspect
print("Good bids (ask â‰¥5% below model):")
print(df[df["good_bid"]].head())

print("\nOverpriced (ask â‰¥5% above model):")
print(df[df["overpriced"]].head())

Good bids (ask â‰¥5% below model):
                 contract underlying   ask  black_scholes_model_price  \
151      A130518P00019000          A  0.05              -6.878677e-16
562  AAMRQ130119C00001500      AAMRQ  0.05               8.956195e-02
563  AAMRQ130119P00001500      AAMRQ  0.05               8.943875e-02
588  AAMRQ140118C00000500      AAMRQ  1.09               1.249629e+00
589  AAMRQ140118P00000500      AAMRQ  0.23               2.446306e-01

     stock_price_today  stock_price_contract_close      diff      pct_diff  \
151              43.05                         NaN  0.050000 -7.268839e+15
562               1.50                         NaN -0.039562 -4.417272e+01
563               1.50                         NaN -0.039439 -4.409582e+01
588               1.50                         NaN -0.159629 -1.277414e+01
589               1.50                         NaN -0.014631 -5.980706e+00

     good_bid  overpriced
151      True       False
562      True       False
563      True       False
588      True       False
589      True       False

Overpriced (ask â‰¥5% above model):
           contract underlying    ask  black_scholes_model_price  \
0  A130119C00018000          A  26.55                  25.051478
1  A130119P00018000          A   0.03                   0.000000
2  A130119C00019000          A  25.55                  24.051561
3  A130119P00019000          A   0.03                   0.000000
5  A130119P00020000          A   0.02                   0.000000

   stock_price_today  stock_price_contract_close      diff  pct_diff  \
0              43.05                         NaN  1.498522  5.981769
1              43.05                         NaN  0.030000       inf
2              43.05                         NaN  1.498439  6.230113
3              43.05                         NaN  0.030000       inf
5              43.05                         NaN  0.020000       inf

   good_bid  overpriced
0     False        True
1     False        True
2     False        True
3     False        True
5     False        True